// Navigation
#mainNav {
  padding: 50px;
  padding-bottom: 0;

  .container-fluid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .navbar-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .navbar-brand img {
        width: 500px;
      }
    }

    #navbar-collapse {
      margin-left: auto;
      height: auto;

      .navbar-form {
        float: right;

        button[type="submit"] {
          border: 0;
          padding: 0;
          background-color: transparent;
          color: $theme-blue;
        }

        input {
          color: $theme-blue;
          border: none;
          border-bottom: 2px solid $theme-blue;
          border-radius: 0;
        }
      }

      #menu-navbar {
        clear: both;

        li {
          &:hover,
          &:focus,
          &:active,
          &.active {
            border-bottom: 2px solid $theme-blue;
          }

          a {
            font-family: 'Avenir Next LT Pro Bold', sans-serif;
            color: $theme-blue;
          }
        }
      }
    }
  }
}

// Navigation (Collapsed)
@include media-breakpoint-down(md) {
  #mainNav .container-fluid {
    display: block;

    #navbar-collapse {
      position: absolute;
      top: 125px;
      right: -50px;
      width: 100vw;
      padding: 1em 1.5em;
      text-align: right;
      background-color: white;
    }

    .navbar-nav {
      display: block;
      text-align: right;
    }
  }
}
