// Container Settings
$container-large-desktop: 1250px !important;

// Grid Settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$theme-gray:      #3C3C3C;
$theme-orange:    #F7A81B;
$theme-blue:      #20375F;
$theme-yellow:    #F2BF18;
$background-gray: #EAEAEA;
